[2018-02-26 16:34] etsauer opened #5 "Create hugo site structure"

[2018-02-26 16:36] etsauer opened #6 "Support "authorship" for content"
Two components:
- Individual authors: Contributors will need to create their private profile, which will show up in the heading of each article
- Group authorships: "verified" groups which will have the option of branding themselves with a small logo

One idea that would be a nice to have would be to be able to do some kind of mapping of commiter to author so that a document over time could includ

[2018-02-26 16:40] etsauer opened #7 "Need a way to set up redirects from old article to new."
As we move content from the legacy site (v1.uncontained.io) to the new site (uncontained.io), we'll need to set up redirect links to ensure that the old articles will still point to the new stuff.

[2018-03-14 22:39] JaredBurck commented on #5
Initial hugo site structure created and merged to master

[2018-03-14 22:39] #5 closed

[2018-04-16 20:38] rdebeasi opened #10 "Update Containerized Hugo docs"
The docs in `CONTRIBUTING.md` are super helpful, but there are a couple of problems with the containerized Hugo instructions:

- They use the old `openshift-playbooks` repo rather than the new `uncontained.io` repo.
- They reference a `container-images/local-builder` image that doesn't seem to exist in this repo.

[2018-04-16 20:51] rdebeasi opened #11 "Fix internal links"
Some links from one document to another currently 404. For example, `/articles/openshift-custom-certificates/` links to "Installing a Hightly Available OpenShift Cluster" at `/playbooks/installation/` instead of `/guides/openshift-ha-installation/`.

The migration script could handle this: when an article/guide is migrated, the script could update any references to that document from any other con

[2018-04-16 21:09] etsauer commented on #10
@rdebeasi how helpful would it be to have the container image right now?

[2018-04-17 20:58] etsauer commented on #10
Yes, let's do that

[2018-04-17 21:21] rdebeasi opened #13 "Include builder image"
The Contributing guide has [instructions on building the site with Docker](https://github.com/redhat-cop/uncontained.io/blob/master/CONTRIBUTING.md#containerized-hugo-environment-quickstart-guide), but no Hugo builder is included.

Let's create a builder image for Hugo, or find and include an existing open source tool that does the same thing. This builder image should include Hugo, Ruby, and Asci

[2018-05-01 01:23] etsauer opened #15 "vulnerability in node dependency"
@rdebeasi the suggested resolution below is quite a bit newer than what we have in our package.json. can we upgrade?

![uncontained-vulnerability](https://user-images.githubusercontent.com/4500758/39457550-7b62b9f2-4cbc-11e8-9920-16d20879b493.png)

[2018-05-01 05:09] etsauer opened #18 "Need automated process for checking links."
@JaredBurck @rdebeasi is there a native hugo way to do this? otherwise, we already have a Gemfile in order to install asciidoctor, we could pull in htmlchecker as well.

[2018-05-04 16:47] #13 closed

[2018-05-07 15:15] rdebeasi commented on #15
Looks like this is a [problem with node-sass v4](https://github.com/sass/node-sass/issues/2355), which is a dependency of the gulp-sass package that we're using. The problem has been fixed in v5.

We'll probably need to wait for the node-sass folks to either release v5 or backport the fix to v4. The good news is that this dependency is used only when building the theme, so the impact of the vulner

[2018-05-07 21:15] rdebeasi commented on #18
I'm not aware of a "native Hugo" way to do this. The author of Hugo considers a link checker to be [out of scope](https://github.com/gohugoio/hugo/issues/1430). Some folks who want functionality like this set up a build tool/package manager such as npm around their Hugo site - see the [starter kits](https://gohugo.io/tools/starter-kits/) for some examples. In our case, I imagine that build tool is

[2018-05-24 13:26] etsauer opened #25 "Add site search"
Here some options for Hugo: https://gohugo.io/tools/search/

[2018-05-24 13:29] etsauer opened #26 "Set expectations on homepage"

[2018-05-25 14:16] etsauer opened #27 "Implement article and guide layouts"

[2018-05-25 14:17] etsauer opened #28 "Need build and deployment pipeline"

[2018-05-25 14:17] etsauer opened #29 "Figure out where and how to host it"

[2018-05-25 14:20] etsauer opened #30 "Add styling for tags"

[2018-05-25 14:21] etsauer opened #31 "Add styling for categories"
Just for top level Guide, Article tagging

[2018-05-25 14:21] etsauer opened #32 "Add styling for admonitions"

[2018-05-25 14:25] etsauer opened #33 "Change styling of in-line code snippets to be more consistent with the site."

[2018-05-25 14:27] etsauer opened #34 "Develop styling for code blocks"

[2018-05-31 14:42] etsauer opened #41 "Add content summaries"
I would like to see us be a bit lighter/leaner with how we present guide and article summaries.

[2018-05-31 14:43] etsauer commented on #41
![uncontained-ss](https://user-images.githubusercontent.com/4500758/40789002-64dbbf9c-64bf-11e8-845b-dad19a323d5b.png)

[2018-06-08 14:33] #30 closed

[2018-06-08 14:38] etsauer opened #43 "Hide search box until we have site search."

[2018-06-08 14:48] JaredBurck opened #44 "Determine MVP Repo docs"

[2018-06-08 14:49] etsauer opened #45 "Need a page explaining our "Why""

[2018-06-27 21:32] rdebeasi opened #46 "Build using npm"
Look into building the site with node/npm and no ruby dependencies. This will allow us to simplify the build process in OpenShift.

Resources:
- [Asciidoctor.js](https://asciidoctor.org/docs/asciidoctor.js/)
- [victor-hugo](https://github.com/netlify/victor-hugo)
- Our existing [theme build process](https://github.com/redhat-cop/uncontained.io/tree/master/themes/uncontained.io#building) - maybe we

[2018-07-05 21:16] rdebeasi commented on #46
Related work on integrating this into Hugo natively: https://github.com/gohugoio/hugo/issues/1435

[2018-07-12 14:28] rdebeasi opened #48 "Support HTTPS"
https://uncontained.io/ and https://v1.uncontained.io/ fail with a certificate error. Let's get a proper certificate from Let's Encrypt and fix this issue.

  *.b9ad.pro-us-east-1.openshiftapps.com, b9ad.pro-us-east-1.openshiftapps.com

[2018-07-13 15:00] rdebeasi commented on #48
This is required for managed platform

[2018-07-13 15:01] rdebeasi commented on #46
Resolved in #47.

[2018-07-13 15:01] #46 closed

[2018-07-13 15:03] rdebeasi commented on #45
Answer:
- Who owns this site
- What this site is for

This may be an "about us" page
Related: #26

[2018-07-13 15:04] rdebeasi opened #52 "Add page navigation"
Design and implement navigation that could take the user to other pages that we may want to add:
- About Us
- How to Contribute

Related to #45

[2018-07-13 15:05] rdebeasi commented on #44
Jared says this is done.

[2018-07-13 15:05] #44 closed

[2018-07-13 15:06] rdebeasi commented on #25
Related #43

[2018-07-13 15:10] rdebeasi commented on #41
- Content work: someone needs to go through and write article summaries.

Going forward, let's write summaries when migrating.

[2018-07-13 15:11] rdebeasi opened #53 "Redesign content summaries"
- Design a more space-efficient summary layout. (Tiles?)
- Implement that design.

Related: #55

[2018-07-13 15:12] rdebeasi commented on #34
See the [style guide](https://drive.google.com/drive/folders/17BNKus9IJYqcM05xbAa6iBXbYNlS-uTo)
![screenshot from 2018-07-13 11-11-57](https://user-images.githubusercontent.com/1299370/42699028-9c2a5748-868d-11e8-8fdf-67aa95e77d6a.png)

[2018-07-13 15:15] rdebeasi commented on #33
This covers inline code, vs. code blocks (#34). It's hard to tell the difference between code and normal text. Check the style guide for the right treatment, then implement it.

[2018-07-13 15:17] rdebeasi commented on #32
These are warnings, tips, etc. Determine style and implement style. Use icons from style guide.
![screenshot from 2018-07-13 11-16-42](https://user-images.githubusercontent.com/1299370/42699277-555dadfa-868e-11e8-9b14-9b4f54a59e7f.png)
![screenshot from 2018-07-13 11-16-49](https://user-images.githubusercontent.com/1299370/42699278-556d04bc-868e-11e8-95a0-4c1e49d3e760.png)

[2018-07-13 15:29] rdebeasi opened #54 "Clarify how site is organized"
This is a big-picture conversation. Is the navigation easy to understand? Do readers get the difference between articles and guides?

Long-term, do we use the long-form content (guides) for everything? Do we have new types of content (e.g., field guides, deep dives, tutorials, theoretical content)? Pathways/roadmaps/collections to string together several different articles or guides into a solutio

[2018-07-13 16:53] rdebeasi commented on #25
The Open Practice Library (also built with Hugo) recently got this feature: https://github.com/rht-labs/practice-library

[2018-07-13 17:11] etsauer commented on #25
@rdebeasi since the practice library is already demonstrating this capability, would it make sense to just go ahead and implement the same thing here rather than worry about #43 ?

[2018-07-13 17:38] rdebeasi commented on #27
See designs in Google Drive.

[2018-07-13 17:41] rdebeasi commented on #26
Consider a bar or something else unobtrusive on homepage.

[2018-07-13 17:44] rdebeasi opened #55 "Redesign homepage"
Consider providing featured content and context on homepage.

[2018-07-13 17:45] rdebeasi commented on #31
Closing as dupe of #27.

[2018-07-13 17:45] #31 closed

[2018-07-13 17:46] rdebeasi commented on #29
Where: managed platform
How: build docker images

[2018-07-13 17:46] #29 closed

[2018-07-13 17:49] rdebeasi commented on #7
We'll leave v1 online for a bit after v2 launches.

[2018-07-13 17:52] rdebeasi opened #56 "Enhancements to authorship"
Decide what enhancements to implement. Ideas:
- GitHub integration
- Verified authors

[2018-07-13 17:53] rdebeasi commented on #6
Hugo's built-in authorship covers the basics. New features are in #56.

[2018-07-13 17:53] #6 closed

[2018-07-20 18:51] lwrigh commented on #26
@etsauer @rdebeasi Here is a rough first pass at a homepage wireframe: https://redhat.invisionapp.com/share/V2N37WHPSJ6 Feel free to click the link to see the wireframe and leave comments directly in Invision if you like. Any visuals, content, scale, or components you see are placeholders. Do you guys think any other particular type of content would be important to surface on the home page?

[2018-07-23 18:30] rdebeasi commented on #25
If someone's interested in picking this work up, sure! There is some work involved in integrating this work into our theme. We'd have to build a search results template and integrate the search index generation into our Gulp build. (Practice library is using Grunt but will eventually switch over to Gulp).

It's not a huge amount of work, but it's not trivial either. Knowing that, would you prefer

[2018-08-02 18:52] etsauer commented on #11
@rdebeasi can we close this?

[2018-08-02 18:53] etsauer commented on #48
@JaredBurck I believe you are working on this yes?

[2018-08-02 19:00] etsauer commented on #26
@lwrigh sorry for taking so long to get back to you on this. Next time drop a bump, as i mostly forgot :).

I think these changes are great, and make a lof sense. Would you be able to open PRs with the changes to this piece-by-piece? For exmaple.. I think the Contribute section and Top page Nav we could merge in with very little discussion.

Some of the other components probably merit some further

[2018-08-02 19:44] etsauer commented on #41
@rdebeasi starting to tackle this. Do you have a preference/thought on how we tackle the "summaries"? Seems like we have a couple of options:
1. Designate where we'd like hugo to end the summary with the `` tag. This means that we have to move the summary content above the `toc::[]`, or else it will be included.
2. A custom `summary` in the front-matter, which we could add rendering for in our sum

[2018-08-02 19:46] lwrigh commented on #26
@etsauer Yup I can make PRs for the different sections of it i.e. navigation, body content, footer, etc.

We can definitely talk more about the content and specific direction we want to go in. Different parts such as search and what articles vs. guides exactly mean might be good places to start off with.

With regards to posting design deliverables such as the style guide or wireframes to more of

[2018-08-02 19:50] etsauer commented on #26
@lwrigh awesome. Yeah, we actually have a "style guide" readme in the repo already, but it really only addresses the content style, not the site style. Perhaps it could serve both functions. https://github.com/redhat-cop/uncontained.io/blob/master/docs/style_guide.md

[2018-08-02 19:53] lwrigh commented on #26
@etsauer Nice that sounds like a good place to start storing all design related material. We can build it out and add content related to site style and other related bits along the way.

[2018-08-03 14:43] etsauer opened #57 "Display rest of content beyond whats on the homepage"
Currently, we only have a homepage showing the first 3 content items. However, we have no way to display the rest of our content. The proposed flow for MVP is to have a link to "All Content" underneath the "Featured Content" section on the homepage.

[2018-08-03 15:02] etsauer commented on #41
@rdebeasi @mwitzenm I'm going to make the call (for now) that we go with the `` solution, documented here: https://gohugo.io/content-management/summaries/#user-defined-manual-summary-splitting

[2018-08-06 13:59] rdebeasi commented on #56
https://gohugo.io/variables/git/

[2018-08-08 17:46] etsauer opened #61 "Live editing of SCSS not working"
When working the stylesheets in `themes/incontained.io/src/scss/`, I'm not getting the "live update" feature, at least not working as i'd expect. It looks like maybe we missed some things when we did the gulpfile conversion.

[2018-08-10 15:00] etsauer commented on #33
@rdebeasi so, the style guide, while it says "Inline Code", actually only covers code blocks. Inline code would be something `like this`, which we don't currently have any style guidance on. I've tried simply changing the font to match, but it doesn't seem quite enough to me.

Also, the font "Source Code Variable" doesn't seem to exist. Did we possibly mean [Source Code Pro](https://fonts.google.c

[2018-08-10 15:12] etsauer commented on #33
I'm also unable to find a "monokai light" code highlighting theme... only [dark](http://raphaelddl.github.io/google-prettify-monokai-theme/)

[2018-08-10 15:15] etsauer commented on #33
Here is a screen shot that I think shows some of the limitations of our code styling, specifically for inline code. @rdebeasi @lwrigh any ideas on how we can adjust?

![code-styling-ss](https://user-images.githubusercontent.com/4500758/43965960-3a239e2e-9c86-11e8-8af0-59ced91b0c1e.png)

[2018-08-10 16:58] lwrigh commented on #33
I really like how slack handles styling this code snippets. Here's a screenshot of it:
![image](https://user-images.githubusercontent.com/20227374/43970837-e1290306-9c9c-11e8-9c8d-57594bd157d6.png)

I think having the code snippets on a black background might be too heavy in comparison to the rest of the content.

[2018-08-14 19:28] mwitzenm commented on #41
I started working on this and have figured out what could happen.  We could just insert the `` in a place where it makes sense to stop from the top of the page and let that be the summary.  I have not figured out how to create a summary that does not appear in the article yet

[2018-08-17 00:05] rdebeasi opened #65 "Require only 1 approver"
Hello! I'd like to propose that we require only 1 approver for PRs in this repo. CoP projects typically require two approvers before a PR is merged, but I think something like uncontained.io has lower complexity and bugs in this repo carry a lower risk compared to something like the applier.

If there's consensus, someone with admin rights (i.e., not me :stuck_out_tongue_closed_eyes: ) could chang

[2018-08-17 16:39] rdebeasi commented on #65
CC @redhat-cop/cant-contain-this-mergers

[2018-08-18 01:27] #61 closed

[2018-08-18 01:32] etsauer commented on #65
@rdebeasi this repo is actually the ONLY CoP repo that I know of that requires two approvals to merge. In the case of Theme/CSS changes, I agree with you, I think we should only require 1 approval. However, for content submissions, we require two changes because (when the site is live) a merge directly results in a production push. We've had times in the past, before we implemented the 2-approver

[2018-08-18 01:33] etsauer commented on #65
Another consideration is that we could temporarily remove the two approver policy until the site is live, so as to accelerate development until then.

[2018-08-20 14:15] etsauer commented on #65
I've reduced the required approvers to 1 for now. let's see how it goes.

[2018-08-21 18:15] #41 closed

[2018-08-22 14:47] rdebeasi commented on #65
Awesome, thank you!

[2018-08-22 14:47] #65 closed

[2018-09-13 20:00] etsauer commented on #57
@JaredBurck @sabre1041 @rdebeasi do we think this is good enough for now?

https://site-uncontained--prototype.apps.d3.casl.rht-labs.com/articles/

[2018-09-13 20:02] etsauer commented on #34
@rdebeasi @JaredBurck we good to close this?

[2018-09-13 20:03] etsauer commented on #33
@rdebeasi @JaredBurck i think this can be closed.

[2018-09-13 20:03] etsauer commented on #32
@JaredBurck close please.

[2018-09-14 14:15] JaredBurck commented on #57
LGTM.  Let use for go live for RHTE

[2018-09-14 14:15] #57 closed

[2018-09-14 14:17] JaredBurck commented on #11
Eric confirmed can be closed

[2018-09-14 14:17] #11 closed

[2018-09-14 14:26] JaredBurck commented on #27
current style ltgm

[2018-09-14 14:26] #27 closed

[2018-09-14 14:28] JaredBurck commented on #28
OSO deployment for RHTE

[2018-09-14 14:29] JaredBurck commented on #32
may want to distinguish between admonitions but looks good to me

[2018-09-14 14:29] #32 closed

[2018-09-14 14:32] JaredBurck commented on #33
agreed.

[2018-09-14 14:32] #33 closed

[2018-09-14 14:32] JaredBurck commented on #34
agreed

[2018-09-14 14:32] #34 closed

[2018-09-14 14:33] JaredBurck commented on #52
PR #70

[2018-09-14 14:34] JaredBurck commented on #45
have splash page link to about us

[2018-09-14 14:37] JaredBurck commented on #48
@JaredBurck add update for managed platform cert

[2018-09-14 14:52] JaredBurck opened #71 "Determine strategy for displaying product version differences in (article) content"
How to display content for v3.10 vs v3.11

[2018-09-14 14:56] dstockdreher opened #72 "Add ability to show collections of similar articles by topical groups"
Need some additional navigational tooling to be able to quickly drill down into articles that are pertaining to similar broad topic areas.

Installation/Configuration
CI/CD - Builds
Integrations with 3rd party tooling.
etc.

[2018-09-14 15:06] etsauer opened #73 "Need styling for Tables in content."
The following guide is a good example of an article with tables that needs some styling help.

https://site-uncontained--prototype.apps.d3.casl.rht-labs.com/articles/openshift-monitoring-guide/

For reference, here is the current published version of the same article:

http://v1.uncontained.io/playbooks/operationalizing/monitoring_guide.html

[2018-09-14 17:27] etsauer commented on #72
ok, here are a few different ways I was thinking about categorizing content.

By Article Type:
- Implementation Guides
- Deep Dives
- Tutorials
- [something to capture docs like openshift & the org]

By Target Audience:
- Application Developers
- Operations Engineers
- Enterprise Architects
- Managers & Leadership
- Security Architects?

By Technology:
- OpenShift
- LDAP
- Jenkins
- F5

Anything e

[2018-09-17 17:45] JaredBurck commented on #52
resolved and PR merged...closing issue.

[2018-09-17 17:45] #52 closed

[2018-09-17 18:33] etsauer commented on #26
@redhat-cop/cant-contain-this here is my first stab at our splash text:

[code]

[2018-09-17 19:01] JaredBurck commented on #26
@etsauer I like it!  Made a couple changes in the tag line and 1st sentence.

[code]
Thoughts?

[2018-09-17 19:11] etsauer commented on #26
@JaredBurck what were the problems you were trying to correct with the top line? I don't think I agree with the pluralization of `cloud` and `digital transformation`, as they are concepts, not objects that can be enumerated.

As far as the subtext paragraph, I would `s/that play/at play/` and I think we've got something.

[2018-09-17 19:27] JaredBurck commented on #43
resolved PR #74 that has now been merged. closing issue.

[2018-09-17 19:27] #43 closed

[2018-09-17 20:00] lwrigh commented on #73
@etsauer Here's a quick mockup using the styling mentioned in the style guide. I ended up making the font of the code smaller (size 14px) so it doesn't overwhelm the table. What do you think?
![table styling](https://user-images.githubusercontent.com/20227374/45646910-986be700-ba92-11e8-80d6-cb2ade63262b.png)

[2018-09-17 21:13] etsauer opened #75 "Introduce "Collections" as a content type"
I would like to make a proposal for a new content type called "collections". Collections would be the first non-article content type in uncontained, filling the role of a [playbook](http://v1.uncontained.io/playbooks/) in the old site, but with more "dynamic" functionality, basically giving us a meta structure for content organization.

Here's how I see it working.

* A "Collection" would act as a

[2018-09-18 01:30] etsauer commented on #73
@lwrigh perfect, thanks! @JaredBurck PR open.

[2018-09-18 01:34] etsauer commented on #72
@dstockdreher @JaredBurck @sabre1041 @rdebeasi I did some brainstorming and a little mental modeling, and came up with the proposal in #75

[2018-09-18 14:27] etsauer opened #77 "Convert repo READMEs to asciidoc"

[2018-09-24 16:18] #73 closed

[2018-10-09 15:24] etsauer opened #79 "Article content spilling over outside of page boundaries"
This looks to be a flexbox issue.

To reproduce:

[code]

Navigate to any article, and see that the text spills over.

![text-spilling-over](https://user-images.githubusercontent.com/4500758/46679517-2b410280-cbb5-11e8-8db9-9fb803c28089.png)

Temporarily turning off `display: flex` on a `.row` element fixes this, but that's not an option as we need rows working as-is in our layout elements.

![fix

[2018-10-09 15:31] rdebeasi commented on #79
Looks like a combination of a couple of things:
- This article has a wide image (which may be triggering the bug)
- We're missing a column between the `<div class="row">` and the `<article>`.

[code]

[2018-10-10 22:37] huddlesj commented on #25
Would this be something simple to start with -> https://developers.google.com/custom-search/docs/tutorial/implementingsearchbox

[2018-10-12 20:27] etsauer commented on #77
@huddlesj I think we can just convert them all, except for the LICENSE.md in the theme, which I think we could just remove, since we have one in the project root already.

[2018-10-12 20:29] etsauer opened #82 "Enhance Authorships with bios and pictures"
Currently the authorship support has the following issues:

- Clicking on an author name fails to load a page. It just times out. (this problem is not present when running the site locally)
- When the page _does_ load, it shows a messy view of other articles written by the author, but with no context.

We want to give content authors opportunities to self promote. With that in mind, it would be ni

[2018-10-12 20:30] #79 closed

[2018-10-12 20:31] etsauer commented on #26
Closing this for now. we can reopen later if we think it needs updating.

[2018-10-12 20:31] #26 closed

[2018-10-12 20:32] etsauer commented on #45
closing.

[2018-10-12 20:32] #45 closed

[2018-10-12 20:38] etsauer opened #83 "Article date should be populated automatically from commit meta"
The dates in our articles get generated by hugo when the article is first created, or manually by the author, and rarely gets updated as new updates are made to the content. We should set up a way to auto-update the date.

[2018-10-12 20:53] rdebeasi commented on #25
That's totally an option!

My preference would be for a search feature that's built into the site. That way, we don't have to wait for Google to update its index when the site changes and users get a more integrated experience. That said, we could definitely start with Google custom search and then move to rolling our own built-in search!

[2018-10-12 20:54] #55 closed

[2018-10-12 21:13] rdebeasi opened #84 "Admonitions are difficult to read"
Admonition text is black on dark blue. It should probably be white on dark blue. I seem to remember this being fixed previously - maybe the changes were reverted, maybe the build process didn't pick up the latest version of the styles, or maybe I'm imagining things. :)

![screenshot from 2018-10-12 17-11-18](https://user-images.githubusercontent.com/1299370/46894343-1fb63b80-ce42-11e8-8cb0-e66fa84

[2018-10-12 21:15] rdebeasi opened #85 "Text flows out of homepage boxes"
Some text flows out of the homepage boxes. Consider setting `min-height` rather than `height`, and using flexbox to ensure that the three boxes get the same height.

![screenshot from 2018-10-12 17-14-10](https://user-images.githubusercontent.com/1299370/46894409-60ae5000-ce42-11e8-8b62-22159e7679e3.png)

[2018-10-12 21:19] rdebeasi opened #86 "Margins are uneven for homepage on small screens"
The margins around featured content items are inconsistent on small screens.

![screenshot_2018-10-12 home uncontained io](https://user-images.githubusercontent.com/1299370/46894550-e7fbc380-ce42-11e8-874a-3c7d3bc7a96a.png)

[2018-10-12 21:23] rdebeasi opened #87 "Horizontal scrollbars on small screens"
Small screens show horizontal scrollbars on article pages.

![screenshot from 2018-10-12 17-22-34](https://user-images.githubusercontent.com/1299370/46894708-753f1800-ce43-11e8-8ec2-fc4dfbcf0eca.png)

[2018-10-12 21:55] rdebeasi commented on #28
Resolved by #81.

[2018-10-12 21:55] #28 closed

[2018-10-15 22:57] etsauer opened #90 "Need favicon"

[2018-10-15 23:18] etsauer commented on #84
@rdebeasi we did have this in place, but then our table styling PR overwrite it. I have a fix ready to go, but it brings up another question... what do we want to do about inline code blocks in admonitions???

Currently with the fix, they will look like:
![admon-w-code](https://user-images.githubusercontent.com/4500758/46983553-a9fed980-d0a6-11e8-821d-c532d0e7816e.png)

[2018-10-15 23:51] etsauer opened #92 "Fix "Topics" or remove them."
Currently we display "Topics" at the bottom of pages, however it currently displays the id number instead of the name of the topic. We should do something with them, or consider removing them all together.

[2018-10-16 14:01] getarz4u15ster opened #93 "Fully Disconnected Openshift Installations"
Contribute best practice and guidance on completely disconnected OCP installs. Many of the issues addressed during an install are based on the presumption that the environment  in question is connected to the internet or even has had access to the internet which isn't always the case, and adds complexity in the way you pull images, set up registries, house the required repos, etc.

[2018-10-16 14:04] rdebeasi commented on #84
Oooh, good catch. I'd vote to make inline code blocks in admonitions white, like the surrounding text. Code blocks outside admonitions are black, like surrounding text, so that change seems like it would be consistent with the rest of the site

[2018-10-16 14:07] rdebeasi commented on #92
For sure. I'll look into fixing them.

[2018-10-16 14:08] rdebeasi commented on #90
I'll set one up.

[2018-10-16 15:03] etsauer commented on #93
@getarz4u15ster yeah, I think there's a way we could provide some callouts in the install guide where we can discuss (either in the doc, or linking out) how the approach changes when you have no internet connection.

Currently the only place we address disconnected installs is http://uncontained.io/articles/openshift-ha-installation/#_design_for_disconnected_environments, which is probably not eno

[2018-10-16 15:10] etsauer opened #94 "How might we create some cross promotion between uncontained.io and openpracticelibrary.com?"
@redhat-cop/cant-contain-this

[2018-10-16 20:06] rdebeasi commented on #94
It could be cool to add references to uncontained.io content at the bottom of [technical foundation](https://openpracticelibrary.com/#foundation-technical) articles where appropriate. I'll also bring this up in our [gitter chat](https://gitter.im/openpracticelibrary/).

[2018-10-16 20:57] rdebeasi commented on #84
Resolved in #91.

[2018-10-16 20:57] #84 closed

[2018-10-17 02:36] etsauer commented on #94
@rdebeasi agreed, and I think we could do the same from content in uncontained.io to openpracticelibrary. More and more I think that really uncontained.io could be where we take a lot of the technical foundations and show them in practice using specific technologies.

[2018-10-17 14:15] getarz4u15ster commented on #93
The only thing I think needs to be addressed outside of the doc link you provided is how sample apps can more easily be changed during the installation process, by the use of an inventory variable in ansible. or a new role written to address those type of scenarios. That may be an RFE type of request though and outside the scope/bounds of this venue. That's the #1 complaint i've had from customers

[2018-10-17 20:36] rdebeasi opened #100 "Improve video embeds"
Video embeds from YouTube are small. They should fill the space available and scale with the screen size.

![screenshot from 2018-10-17 16-34-55](https://user-images.githubusercontent.com/1299370/47114808-d3e10900-d22a-11e8-8a82-612a556bc4d6.png)

[2018-10-18 01:03] #92 closed

[2018-10-18 01:07] #90 closed

[2018-10-23 03:27] etsauer commented on #18
@rdebeasi @JaredBurck looking to tackle this by adding a "test" directive to our gulpfile, and using https://www.npmjs.com/package/broken-link-checker

[2018-10-25 04:38] sabre1041 opened #105 "Add reference to V1"
As content is migrated from v1.uncontained.io, add a reference to denote the location of older material (some that may not be ultimately migrated)

[2018-10-25 21:12] JaredBurck commented on #77
@etsauer why do we want convert the READMEs from md to asciidoc?  Except for the files in the `site` directory none of these files get converted to uncontained.io site content and just are for the Github repo.

[2018-10-26 14:29] etsauer opened #106 "Establish a theme and intent for the site."
This issue will serve as a collaboration space to work out a better communication of the theme and intent of uncontained. Once established we will:

- Update the About page
- Update our content model readme

[2018-10-29 13:35] rdebeasi commented on #106
To start with, here's the statement on our homepage:

Here are some notes from March of last year (see [this doc](https://docs.google.com/document/d/1OuixiAls5cVZjz5tQFCspmo8Oye2vYU_c3BwWVZJ98Q/edit#heading=h.9y3rf4gidg6v)):

[2018-10-29 13:39] rdebeasi opened #107 "Redirect v1 to the new site"
Now that the new uncontained.io has launched, let's redirect content in the old v1 site to the new uncontained.io site.

For example, a Google search for "OpenShift monitoring" returns a link to ["Monitoring OpenShift" on the old site](http://v1.uncontained.io/playbooks/operationalizing/monitoring_guide.html). We should instead send users to ["OpenShift Monitoring Guide" on the new site](http://un

[2018-10-29 13:48] rdebeasi commented on #105
What's the reason for keeping older material around? What sort of content wouldn't be migrated to the new site?

When we set up v1, I had assumed that we'd decommission it when the new site launched and redirect v1 to the new site. I think it would be confusing to have the same content in two different places. This duplication also means that we wouldn't have one "canonical" location for a page, w

[2018-10-29 18:54] themoosman opened #108 "Update Monitoring OpenShift guide for OCP 3.10+"
Update Monitoring OpenShift guide to reflect changes in OpenShift 3.1x.

[2018-10-30 05:07] sabre1041 commented on #105
@rdebeasi The primary reason is to support content that no longer fits into the scope of the uncontained.io site and is better served hosted by another property (KCS in CEE for example).

I would rather take the time going through the material now so we can address it prior to migrating and then potentially letting the task drop off of the radar.

I foresee v1 lasting for some time until the asset

[2018-10-30 13:09] rdebeasi commented on #105
Gotcha - thanks for clearing that up. I'm cool with that as long as we can migrate and redirect everything that _does_ fit into the scope of uncontained.io.

[2018-10-31 21:01] rdebeasi commented on #107
Closing as a dupe of #7.

[2018-10-31 21:02] #107 closed

[2018-10-31 21:03] rdebeasi commented on #7
Note: some content may be relevant for v2, and may need to either stay on v1 or be moved elsewhere. See #105.

[2018-11-02 15:35] chrisruffalo opened #110 "New Article: Containerized x509 for OpenShift Authentication"
Useful mainly for public sector contributors who need x509 (CAC/PIV) authentication for OpenShift.

Existing documentation covers this topic broadly but here we have a solution that works in less time and uses OpenShift features to get working more quickly.

Topics:
- Adding an x509 Proxy Container to OpenShift
- Configuring relevant OpenShift resources
- Customizing Proxy for local needs
- Option

[2018-11-02 15:41] chrisruffalo opened #111 "New Article: Fluentd Log Forwarding via Containers"
Useful for OpenShift clusters that do not want to use non-cluster resources (other VMs) as an intermediary to forwarding Fluentd traffic outside of the cluster.

Old guide on Fluentd Forwarding doesn't appear to have been included in this version of uncontained.io. The containerized version allows the traffic to never leave the cluster and does not require non-cluster resources.

Topics:
- Pros an

[2018-11-07 19:20] mtakane commented on #94
I like the notion of having a bi-directional reference. But this would be opening the doors for other tools and technologies to be added to potentially VERY LONG lists in the Library. Not sure it is where the community wants to go, but is worth exploring and I opened up the discussion again in chat to see what people thing. Feel free to join the chat!!

[2018-11-09 16:42] rdebeasi commented on #94
For sure - I don't think I would want to make the Library too technical, or to make uncontained.io too process-oriented. I was thinking of something really simple - like a link from something like the [CI practice](https://openpracticelibrary.com/practice/continuous-integration/) to related content in uncontained.io. I think the two sites could compliment each other.

The tricky thing here is that

[2018-11-09 19:56] etsauer commented on #94
@rdebeasi I agree that there could potentially be multiple uncontained articles that could be reference-able from any one "practice". On the uncontained.io site, what I would like to see is a small tag cloud in a sidebar that says "Practices in Action" (or something), with tags to related open practice library content.

For example, the Install Guide and Templates Guide would have "Everything as C

[2018-11-13 19:49] etsauer opened #113 "Add Travis Job to test links in PRs"
Now that we have solved #18 in our deployment pipelines, we need something to confirm during a Pull Request does not introduce any broken links before merge, which would cause our pipeline to fail. The proposed way to do this would be to add a Travis-CI config that will run the following:

[code]

[2018-11-13 21:38] etsauer commented on #111
@redhat-cop/content-coalition @sferich888 this sounds like something that should exist in a KB. In the "old site", we have these two docs:

1. http://v1.uncontained.io/playbooks/operationalizing/secure-forward-splunk.html
2. http://v1.uncontained.io/playbooks/operationalizing/secure-forward-splunk-container.html

Two questions:

1. Should these guides be converted to KCS articles/solutions?
2. @ch

[2018-11-13 21:39] etsauer commented on #110
@redhat-cop/content-coalition @sferich888

[2018-11-15 22:41] rdebeasi commented on #87
Google Search Console just flagged this as a "Mobile Usability Related Isue". They called it "content wider than screen" and linked it to http://uncontained.io/articles/openshift-monitoring-guide/, but it's the same problem as this issue.

[2018-12-03 23:58] David-Igou opened #115 "New Article: Cloud provider integrations"
Why this would be valuable: Anybody who has done Openshift deployments on a cloud platform knows and understands each service has their own unique set of quirks/caveats. This is especially true for a field setting due to integrations with another organizations infrastructure - branching out of scope of the official Openshift documentation.

There are some subsections in the installation guide that

[2018-12-11 14:03] pcarney8 opened #118 ".applier-prod/seed-hosts.yml has incorrect namespaces"
Delete or fix

[2018-12-11 14:47] huddlesj opened #119 "monitoring Gluster CNS/OCS"
Add status checks to the monitoring guide for Gluster through Heketi.

[2018-12-12 03:30] chrisruffalo commented on #110
@etsauer ping

[2018-12-12 20:00] etsauer commented on #111
@sferich888 ^

[2018-12-12 21:39] sferich888 commented on #110
This needs to be synced with https://bugzilla.redhat.com/show_bug.cgi?id=1314526 (likely to close the RFE) as something consulting can offer.

As you can see from the description we in Support have a solution (but its really just a workaround).

[2018-12-12 21:42] sferich888 commented on #111
I don't understand the need for this the product includes this functionality:

https://docs.openshift.com/container-platform/3.11/install_config/aggregate_logging.html#sending-logs-to-an-external-elasticsearch-instance and https://docs.openshift.com/container-platform/3.11/install_config/aggregate_logging.html#fluentd-external-log-aggregator document this.

What you all seem to be pointing out is

[2018-12-12 21:47] sferich888 commented on #111
This also needs to close out https://bugzilla.redhat.com/show_bug.cgi?id=1510276

[2018-12-12 21:52] chrisruffalo commented on #111
This solution is an implementation of the above that then forwards to a
third party integration. The documentation only covers a remote fluentd or
a remote Elastic Search instance.

Right now the articles extend support for Splunk and, I believe, Remote
Syslog. They could build support for other sinks too. Or the product could
be RFE’d to include more forwarders.
On Wed, Dec 12, 2018 at 4:47 PM Er

[2018-12-12 21:54] chrisruffalo commented on #110
The UI in recent versions of OpenShift lets you get your token to log into
the `oc` command. I feel like that but has been OBE. Getting x509 to work
from the oc client would be much more involved. Especially since all the
x509 method does is redirect to the SSL Proxy, return, and give your
browser the identity token.
On Wed, Dec 12, 2018 at 4:39 PM Eric Rich <notifications@github.com> wrote:

[2018-12-12 22:08] chrisruffalo commented on #111
I see it supports remote syslog out of the box now.
On Wed, Dec 12, 2018 at 4:51 PM Chris Ruffalo <chris.ruffalo@gmail.com>
wrote:

[2018-12-14 18:47] pcarney8 opened #121 "Change reference of jenkins-s2i-build to use containers-quickstarts"

[2018-12-14 20:08] etsauer opened #122 "Permissions issue in pipeline."
In addresssing another issue, we accidentally removed rolebindings that we need for our pipeine to function. we need to add them back.

[2019-01-24 17:20] mwitzenm opened #124 "Update Install page http://uncontained.io/articles/openshift-ha-installation/ for 3.11 configurations"

[2019-01-25 21:59] mwitzenm commented on #124
pull request to fix this issue https://github.com/redhat-cop/uncontained.io/pull/125

[2019-02-06 21:10] etsauer opened #126 "Build broken"
The `npm` build of the site is currently broken. Getting the following in the build log:

[code]

[2019-02-22 23:13] etsauer opened #129 "Enable Travis to test Pull Requests"
@sabre1041 @JaredBurck @mwitzenm just noticed this in the last few PRs.

[2019-02-22 23:17] sabre1041 commented on #129
@etsauer just checked and it was not enabled in travis. it has been reenabled

[2019-02-23 01:15] etsauer commented on #129
@sabre1041 it actually looks like we've never turned them on before. I thought we had, but there is no build history. Perhaps i'm misremembering. I've turned them off again for now, but will keep this issue open with the goal of getting travis builds working for this repo.

[2019-02-23 03:24] #124 closed

[2019-02-23 03:24] mwitzenm commented on #124
pull request merged

[2019-02-25 15:13] etsauer commented on #126
fixed with #128

[2019-02-25 15:13] #126 closed

[2019-02-26 15:11] trevorquinn opened #131 "Typo in title of OpenShift and the Organization article"
"Openshift" S needs to be capitalized.

[2019-02-26 16:09] Digi59404 opened #132 "Remove unused dependancies"
Noticed a bunch of dependancies loading on the master branch. This took a while to install. I ran depcheck against the repo and found numerous dependancies that are unused and have dependency trees of their own that are unused.

We should remove any unused dependancies.

`MacBook-Pro:uncontained.io digi$ depcheck
Unused dependencies
* bootstrap
* css-loader
* exports-loader
* file-loader
* imports

[2019-02-26 16:10] Digi59404 opened #133 "Add depcheck to the CI/CD Pipeline"
We should add depcheck to the CI/CD pipeline to audit our packages. Ensuring that we're not including bad packages and we're not missing any dependancies causing random exceptions.

https://www.npmjs.com/package/depcheck

[2019-03-08 15:17] etsauer opened #134 "New Article: What is an SRE and how should it change the way I work?"

[2019-03-08 15:20] etsauer opened #135 "Refresh of OpenShift and the Organization"

[2019-03-08 15:25] etsauer opened #136 "Migrate V1 CI/CD Pipeline Article"
http://v1.uncontained.io/playbooks/continuous_delivery/ci-cd-elements.html

[2019-03-08 15:26] etsauer opened #137 "Add TOC to Contributing.adoc"

[2019-03-08 15:30] etsauer opened #138 "Contributing.md uses incorrect container image name"
Need to swich `uncontained` container image to `quay.io/redhat-cop/uncontained-local-dev`

[2019-03-08 15:31] etsauer commented on #136
@raffaelespazzoli as the author if this article, any interest in doing the migration?

[2019-03-22 17:26] etsauer opened #140 "Load Balancer Guide is out of date."
Our load balancing guide is grossly out of date. It makes recommendations that we no longer thing is a good idea. Need to put some effort into a refresh.

http://uncontained.io/articles/openshift-load-balancing/

[2019-03-22 19:30] etsauer opened #141 "Build broken due to broken links"
Latest npm test resulted in 12 broken links, mostly pointing to openshift 3.11 docs. Will fix.

[2019-03-22 20:25] #141 closed

[2019-03-25 14:46] etsauer commented on #122
Closing, as this has been addressed.

[2019-03-25 14:46] #122 closed

[2019-03-25 17:22] etsauer opened #144 "Need to decouple local build env from local-dev container"
Currently, the uncontained-local-dev image consumes the local build cache (e.g. node_modules, etc.) from the mounted project directory.

This can lead to build errors when the local npm bindings are not the same as the bindings in the image. For example:

[code]

We should figure out a way to have the image mount the local project more cleanly, maybe by a selective copy.

@JaredBurck @mwitzenm @rd

[2019-03-25 18:26] etsauer opened #145 "Upgrade to Asciidoctor 2.x"
A new version of asciidoctor has been released (v2.x). If I rebuild our local-dev image we get a bunch of errors like this on build:

[code]

I think this may be related to https://github.com/asciidoctor/asciidoctor/issues/2884, but not yet sure what the fix is.

[2019-03-25 18:27] etsauer commented on #138
Closing as this has been addressed.

[2019-03-25 18:27] #138 closed

[2019-03-25 21:42] etsauer commented on #133
@Digi59404 can we close this?

[2019-03-25 21:42] etsauer commented on #132
@Digi59404 can we close this?

[2019-03-25 21:43] Digi59404 commented on #133
Absolutely. Your recent merge resolved it!

[2019-03-25 21:43] #133 closed

[2019-03-25 21:43] Digi59404 commented on #132
Absolutely. Your recent merge resolved it! Thanks!

[2019-03-25 21:43] #132 closed

[2019-03-26 14:22] etsauer commented on #136
instructions on doing a migration can be found here. https://github.com/redhat-cop/uncontained.io/blob/master/CONTRIBUTING.adoc#migrating-content-from-openshift-playbooks

[2019-04-03 14:58] etsauer commented on #131
This has been addressed.

[2019-04-03 14:58] #131 closed

[2019-04-05 14:11] etsauer opened #151 "Create manifest that can be used with podmand to make the local dev easier"

[2019-04-05 14:34] etsauer commented on #137
closing!

[2019-04-05 14:34] #137 closed

[2019-04-05 14:36] etsauer opened #152 "Migrate devops reading list"

[2019-04-05 14:40] etsauer commented on #129
https://github.com/redhat-cop/openshift-applier/blob/master/.travis.yml

[2019-05-16 17:56] etsauer commented on #152
this issue has been resolve. thanks @trevorquinn !

[2019-05-16 17:56] #152 closed

[2019-05-16 18:01] etsauer opened #155 "How might we Improve the user experience when reading articles?"
Our articles are not very readable today. Some of the problems include:

- Links are too light
- Text might be too wide
- spacing issues between paragraphs, headings, etc
- The differences between heading levels (h2, h3, h4, etc) are too subtle
- Table of contents at the top of the page isn't helpful in navigating the content
- The "blue" on the top and bottom bars is too bright.

I think we need

[2019-05-23 12:33] jimdillon opened #156 "Article: Best Practices - OpenShift Log lifecycle"
I have quite a few customers ask for best practices around log lifecycles for OCP clusters.  We can point to enterprise standards, but we should also have an approach to fall back on if that standard does not exist.

[2019-05-31 14:15] huddlesj opened #157 "F5 docs and references should be updated."
Updated instructions have changed for F5 integration. Docs ( http://uncontained.io/articles/openshift-load-balancing/ ) should be updated to reference the new F5 plugin ( https://docs.openshift.com/container-platform/3.11/install_config/router/f5_router.html )

[2019-06-05 13:04] etsauer commented on #156
@bbeaudoin @huddlesj @lpsantil @JaredBurck FYI.

@jimdillon can you provide some more specific context or guidance around what you are looking for?

[2019-06-05 13:06] etsauer commented on #157
@huddlesj I think what you mean is this: https://clouddocs.f5.com/containers/v2/openshift/

[2019-06-05 13:13] etsauer commented on #157
related to #140

[2019-06-05 13:17] huddlesj commented on #157
This is another difference I have found If you look at the 3.10 docs they point to the f5 site but if you look at the 3.11 docs the instructions are back on the Red Hat docs site

3.10: https://docs.openshift.com/container-platform/3.10/install_config/router/f5_router.html
3.11: https://docs.openshift.com/container-platform/3.11/architecture/networking/assembly_available_router_plugins.html

[2019-06-05 13:50] huddlesj commented on #157
@etsauer Ok, I see it now -> The F5 router plug-in will be deprecated in OpenShift Container Platform version 3.11. The functionality of the F5 router plug-in is replaced in the F5 BIG-IP® Controller for OpenShift.

https://docs.openshift.com/container-platform/3.11/install_config/router/f5_router.html

[2019-06-05 13:59] etsauer commented on #157
@huddlesj please move all of this info over to #140 and close this issue.

[2019-06-05 14:13] huddlesj commented on #140
Will update doc according to the following doc after testing.

https://clouddocs.f5.com/containers/v2/openshift/

[2019-06-05 14:13] huddlesj commented on #157
Duplicate of issue #140

[2019-06-05 14:13] #157 closed

[2019-06-05 14:23] etsauer commented on #140
![](https://github.trello.services/images/mini-trello-icon.png) [Update load balancer guide to instruct on how to use named_certificates as the preferred method](https://trello.com/c/NRnNECB7/111-update-load-balancer-guide-to-instruct-on-how-to-use-namedcertificates-as-the-preferred-method)

[2019-06-05 20:37] etsauer commented on #18
#103 resolved this issue.

[2019-06-05 20:37] #18 closed

[2019-06-05 20:38] etsauer opened #160 "Move table of contents into sidebar for better scrolling navigation in an article."

[2019-06-07 17:15] etsauer commented on #25
This is done.

[2019-06-07 17:15] #25 closed

[2019-06-07 17:15] etsauer commented on #160
This is done.

[2019-06-07 17:15] #160 closed

[2019-06-10 17:21] etsauer commented on #129
This has been resolved by #162

[2019-06-10 17:21] #129 closed

[2019-06-10 17:23] etsauer commented on #118
names are correct. closing this.

[2019-06-10 17:23] #118 closed

[2019-06-10 17:28] etsauer commented on #77
This issue has been resolved by @huddlesj

[2019-06-10 17:28] #77 closed

[2019-06-10 17:29] etsauer commented on #53
This issue has been resolved.

[2019-06-10 17:29] #53 closed

[2019-07-12 15:08] JaredBurck opened #166 "PoC Docsy theme for Hugo based website"
This is to try out the new docsy.dev theme to see if these new features help us improve our workflow, contributions, and grow our community.

[2019-07-18 00:26] etsauer opened #167 "New Article: Describe a process by which an App team could work on application onboarding without a cluster"
We see often enough in the field that some organizations are slow to start onboarding to a container platform due to traditional infrastructure environments, and provisioning slowness. In this case, application teams get frustrated because they are ready to work, but don't have a target environment to deploy to.

We should write a guide that walks through some patterns for local development of con

[2019-07-18 00:31] etsauer opened #168 "DevOps Reading List refresh"
We should develop a V2 of the DevOps reading list, adding more context, and tying in openpracticelibrary.com

[2019-07-30 14:29] Jooho opened #169 "[New Article] CoreOS MatchBox Overview."
CoreOS MatchBox help network boot and provision CoreOS clusters that fit for OpenShift 4.

For OCP4 baremetal UPI installation, official openshift installer repo provides matchbox example and terraform match provider help configure matchbox easier.

From this new article, I want to explain matchbox itself and how to config it using terraform with example.

[2019-07-30 15:13] Jooho commented on #169
Why the topic is broadly useful to uncontained.io contributors
[code]

Why it doesn’t fit into an existing guide
[code]

3-5 bullets of expected sub-topics
- What is matchbox?
- How does it work?
- Get started Matchbox
  - Install Matchbox
  - Config Matchbox using terraform provider
  - Find machine by mac or label

[2019-07-31 16:52] Jooho opened #170 "Created a new article file with error theme/partials/search.html:3: unexpected "=" in operand"
According to this[ `new article` doc](https://github.com/redhat-cop/uncontained.io/blob/master/docs/new_articles.adoc), I tried to create a new adoc file

[code]

And I got this error messages
[code]

[2019-08-06 15:31] etsauer commented on #170
@Jooho Can you provide a full set of the commands you've run to get here? Following the contribution guide, I'm not able to reproduce this.

[2019-08-06 17:05] Jooho commented on #170
[code]

[2019-08-06 17:07] etsauer commented on #170
@Jooho interesting. can you show me `hugo version`?

[2019-08-06 17:10] Jooho commented on #170
@etsauer I don't know why it happens :(

[2019-08-06 17:10] Jooho commented on #170
[code]

[2019-08-06 17:13] etsauer commented on #170
@Jooho could you try upgrading? My laptop is running v0.55.6 and I don't get that error when I run what you run.

[2019-08-06 17:16] Jooho commented on #170
@etsauer

Um.. this is latest on my fedora
[code]

Let me try to download the binary directly.

[2019-08-06 17:18] etsauer commented on #170
hmm. i just installed with dnf and got the 0.55.6

[code]

[2019-08-06 17:24] Jooho commented on #170
Interesting. I just download the binary from hugo git (0.56)
Then it works now!

[code]

[2019-08-06 17:25] etsauer commented on #170
That is interesting. We should probably update the `hugo-bin` version to something more modern in our package.json

[2019-08-06 17:32] Jooho commented on #170
Thanks man I will close this.

[2019-08-07 16:05] Jooho commented on #170
@etsauer  I sent PR for that

[2019-08-12 15:42] Jooho commented on #170
@etsauer

Could you review the PR? Actually, it is simple changes so I don't believe there is an issue to merge.

Thanks in advance.
-Jooho

[2019-08-12 19:14] dobozysaurus commented on #145
FYI, I upgraded to asciidoctor 2.0.10 and ran both gulp build and gulp test locally, and it worked just fine for me. Is that sufficient to test this issue, or do you only get it when running through docker?

[2019-08-13 08:14] AndreaFerraresi opened #172 "[New Article] Monitoring multiple Openshift Cluster using prometheus"
Who would be interested?
Useful mainly for cloud providers that want to offer OpenShift clusters as a service, but still want to keep control on what is happening. Or for whoever has to operate more than a cluster at once.

Why I did not contribute to anything existing?
Couldn't find anything about this on the website, and I think can be beneficial

What I will be writing about?

- How to scale pr

[2019-08-13 11:57] etsauer commented on #145
@dobozysaurus hmm, it looks like that issue I had referenced has since closed, so perhaps it has been fixed! If you'd like to contribute a resolution for this, please open a PR setting our standard asciidoctor version to 2.x.

[2019-08-13 11:58] etsauer commented on #145
@dobozysaurus to ensure your fix will work, I would recommend running through our test suite locally. https://github.com/redhat-cop/uncontained.io/blob/master/CONTRIBUTING.adoc#running-the-automated-tests

[2019-08-14 09:51] dobozysaurus commented on #145
Cool - ran the test suite locally, and everything checked out. PR is here: https://github.com/redhat-cop/uncontained.io/pull/173.

[2019-08-14 10:49] #145 closed

[2019-08-14 12:47] dobozysaurus commented on #144
I ran into this yesterday as a newcomer to the project - running MacOS locally, so I got an issue with the bindings on the image. I can take a look at this one unless someone else wants it.

[2019-08-23 14:53] huddlesj commented on #119
https://github.com/openshift/cluster-monitoring-operator/issues/134

[2019-08-29 22:14] robbbbh commented on #172
I've been doing some work deploying a proof of poncept Thanos deployment recently for a customer. This could potentially be an interesting addition to this new article suggestion. It allows for multi cluster monitoring from one Thanos Query interface by connected different Prometheus metric stores together. (through both prometheus sidecars are block storage)

[2019-08-30 08:56] AndreaFerraresi commented on #172
Yes, we could stick our heads together, do you want to send me an email about your idea?

[2019-08-30 10:21] robbbbh commented on #172
Sure, I'll ping you and email this afternoon.

[2019-08-31 18:49] AndreaFerraresi commented on #172
I think that this would be a very nice joint effort for an article, it would really cover the topic deeply.

I would be in, but I guess requires other feedbacks.

[2019-09-06 16:07] JaredBurck commented on #100
Fixed!

[2019-09-06 16:07] #100 closed

[2019-09-11 14:07] jimdillon opened #179 "New Article: Grouping Deployables in a namespace"
We need an article that describes the thought process one should go through to determine how to group deployables in namespace(s).

This is a common question and we do appear to have consensus on the thought process, although we might not always arrive at the same conclusion.

[2019-09-12 13:31] Jooho opened #180 "Running the Live Preview fail"
According to `Contributing to Uncontained.io`, I tried to run local server but failed.

[code]

Error message
[code]

[2019-10-04 14:08] etsauer commented on #172
@robbbbh @AndreaFerraresi I think this is a great idea. I think we have others also working on this, so I'll try to bring some others to the table to collaborate.

[2019-10-04 14:19] etsauer opened #181 "New Article: What does it mean to work as a Product Team?"
@jimdillon want to work on this with me next?

[2019-10-04 14:27] etsauer opened #182 "New Article: How to Apply a GitOps Mentality to OpenShift Clusters"
@jkupferer care to pair up on something like this?

[2019-10-04 14:27] jimdillon commented on #181
@etsauer yes sir.

[2019-10-04 19:06] #83 closed

[2019-10-04 19:40] jimdillon opened #184 "[New Article] Guidance on how to go about setting Quotas, requests & limits"
We need to put our heads together and develop guidelines on how to practically go about determining what values to set for quotas, requests and limits.

[2019-10-15 14:14] etsauer commented on #180
@Jooho this just means that you need to increase the number of file watchers allowed on your system.

https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers

[2019-10-31 03:17] etsauer opened #188 "Consider incorporating a natural language linter, like Vale"
https://github.com/errata-ai/vale

[2019-11-15 15:33] JaredBurck commented on #168
add open practice library
https://openpracticelibrary.com/

add Google Cloud DevOps reference
https://cloud.google.com/devops/

[2019-11-15 15:34] JaredBurck commented on #188
PR #189

[2019-11-15 15:36] JaredBurck commented on #180
Please reopen if solution above does not work!  Thanks and closing issue!

[2019-11-15 15:36] #180 closed

[2019-11-15 15:43] JaredBurck commented on #170
PR #178 is a bit stale and out of date. Please try recommend resolution instead. Closing issue wont fix. Please reopen or create new issue if you still are still experience this trouble. Thanks!

[2019-11-15 15:43] #170 closed

[2019-12-12 20:36] etsauer opened #193 "New Article: How to prevent your OpenShift admins from doing something stupid"
I've come across several OpenShift admin teams that have a story that goes something like "so and so accidentally ran `oc delete all` in the wrong namespace and took out our router, registry, imagestreams, or something else critical to the cluster. We can tell people not to do that, but we tell linux admins never to "rm -rf " things, and that still happens.

I would like to propose an RBAC approac

[2019-12-13 15:05] etsauer commented on #72
@dstockdreher @JaredBurck @sabre1041 I'm going to migrate this content over to #75 and close this, as it is a dup

[2019-12-13 15:05] #72 closed

[2019-12-22 15:14] cmwylie19 commented on #85
@etsauer can you assign this to me?

[2020-01-14 17:37] JaredBurck commented on #113
done...closing issue.

[2020-01-14 17:37] #113 closed

[2020-01-14 17:48] JaredBurck commented on #115
still needs someone to write content to be reviewed and published

[2020-01-14 17:50] JaredBurck commented on #110
still needs someone to write content to be reviewed and published

[2020-01-14 17:53] JaredBurck commented on #134
still needs someone to write content to be reviewed and published

[2020-01-14 17:57] etsauer commented on #188
This is complete. Closing.

[2020-01-14 17:58] #188 closed

[2020-01-14 18:01] JaredBurck commented on #172
still needs someone to write content to be reviewed and published

[2020-01-14 18:03] JaredBurck commented on #169
still needs someone to review content and published

[2020-01-14 18:04] JaredBurck commented on #167
still needs someone to write content to be reviewed and published

[2020-01-14 18:15] JaredBurck commented on #166
currently in progress and will be submitting a PR for initial review and feedback

[2020-01-14 18:16] JaredBurck commented on #184
still needs someone to write content to be reviewed and published

[2020-01-14 18:16] JaredBurck commented on #182
still needs someone to write content to be reviewed and published

[2020-01-14 18:17] JaredBurck commented on #181
still needs someone to write content to be reviewed and published

[2020-01-14 18:18] JaredBurck commented on #179
still needs someone to write content to be reviewed and published

[2020-01-14 18:21] #179 closed

[2020-01-14 18:22] JaredBurck commented on #156
still needs someone to write content to be reviewed and published

[2020-01-14 19:15] getarz4u15ster commented on #93
Old, No longer relevant

On Tue, Jan 14, 2020 at 12:31 PM stale[bot] <notifications@github.com>
wrote:

[2020-01-14 19:18] JaredBurck commented on #93
@getarz4u15ster thanks for the update. closing issue.
stale - will not fix

[2020-01-14 19:18] #93 closed

[2020-01-14 19:24] JaredBurck commented on #106
v2 uncontained.io was launched at NA RHTE in 2019.  Closing issue as completed for v2.
stale - will not fix

[2020-01-14 19:24] #106 closed

[2020-01-14 19:26] JaredBurck commented on #54
Currently defined two content types.  Simplified site designs until more content and complexity is needed. Closing as complete for now.

stale - will not fix

[2020-01-14 19:26] #54 closed

[2020-01-14 19:29] JaredBurck commented on #71
this has been solve by using a variable to replace hard coded version where this needs to be continuously updated. Closing as completed.  Need to figure out how to handle difference between v3 and v4 (will open new issue for this).

stale - fixed

[2020-01-14 19:29] #71 closed

[2020-01-16 23:08] huddlesj commented on #119
This is stale. We can close this issue.

[2020-01-16 23:08] #119 closed

[2020-01-21 17:45] #121 closed

[2020-01-21 17:45] #136 closed

[2020-01-21 17:45] #135 closed

[2020-01-21 17:45] #151 closed

[2020-01-21 17:45] #155 closed

[2020-01-21 17:45] #140 closed

[2020-01-21 17:45] #7 closed

[2020-01-21 17:45] #87 closed

[2020-01-21 17:45] #86 closed

[2020-01-21 17:45] #82 closed

[2020-01-21 17:45] #56 closed

[2020-01-21 17:45] #75 closed

[2020-01-21 17:45] #111 closed

[2020-01-21 17:45] #144 closed

[2020-01-21 17:45] #168 closed

[2020-01-21 18:45] #15 closed

[2020-01-21 18:45] #48 closed

[2020-01-21 18:45] #105 closed

[2020-01-21 18:45] #94 closed

[2020-02-21 15:27] rdebeasi commented on #85
Hi! Not stale. Thank you!

[2020-02-21 18:54] etsauer commented on #85
Hi @rdebeasi long time no see!!!

@cmwylie19 any updates on this?

[2020-03-11 16:13] huddlesj opened #203 "Update monitoring guide."
Openshift monitoring guide needs to be updated to Openshift 4 -> https://github.com/redhat-cop/uncontained.io/blob/master/site/content/articles/openshift-monitoring-guide.adoc

[2020-03-21 18:21] #115 closed

[2020-03-21 18:21] #110 closed

[2020-03-21 18:21] #134 closed

[2020-03-21 18:21] #169 closed

[2020-03-21 18:21] #167 closed

[2020-03-21 18:21] #172 closed

[2020-03-21 18:21] #166 closed

[2020-03-21 18:21] #184 closed

[2020-03-21 19:21] #182 closed

[2020-03-21 19:21] #181 closed

[2020-03-21 19:21] #156 closed

[2020-04-16 12:43] goldmann opened #204 "Add https support"
It would be good to serve this site on https.

[2020-04-22 18:04] rdebeasi commented on #85
Hi! Still not stale. Thank you!

[2020-04-29 17:30] #193 closed

[2020-05-07 20:57] jkeam commented on #204
For reference, you can see the current cert.

<img width="701" alt="wrong_cert" src="https://user-images.githubusercontent.com/48856/81343757-94377780-9083-11ea-83bb-41ca4618bea6.png">

[2020-05-17 17:52] #203 closed

[2020-05-21 07:09] ArieScheurwater commented on #85
Hi @rdebeasi, I created a pull request #205 for you to stop the text from going out of the summary box on the homepage.

[2020-05-23 17:26] etsauer commented on #204
Agreed. unfortunately we can't use the provided cert for a top level domain, so we'll need to purchase one.

[2020-07-24 15:19] davewujcik opened #207 "atomic-openshift-utils mentioned in uncontained.io/site/content/articles/openshift-ha-installation.adoc"
The HA installation guide, in the Ansible Control Host section, mentions installing atomic-openshift-utils, which was replaced with openshift-ansible in 3.10 and later.

Our official documentation states:
"In previous OpenShift Container Platform releases, the atomic-openshift-utils package was installed for this step. However, starting with OpenShift Container Platform 3.10, that package is remov

[2020-07-29 19:13] #204 closed

[2020-09-30 02:12] #207 closed

[2020-10-22 13:20] etsauer opened #208 "Build a tekton pipeline for publishing the site."
Let's just go ahead and rip out all of this old pipeline code and replace it with a shiny new tekton pipeline, deployed with Helm.

[2020-10-26 13:12] worsco opened #210 "https://uncontained.io is not valid"
The official web site is at http://uncontained.io/.  However, https://uncontained.io takes you to a site that states it has a bad certificate.  After you accept the certificate, you get the default OpenShift "Application is not available -- The application is currently not serving requests at this endpoint. It may not have been started or is still starting." message.

[2020-11-07 07:48] faysou opened #211 "The articles don't display well on a mobile"
I think there's a problem with the template used for the display of this site. It's unfortunate as you provide interesting information.

Here is an example
http://uncontained.io/articles/devops-reading-list/

[2020-12-01 20:46] pvrbharg opened #212 "OpenShift powered blockchain reference use case application running on IBM Blockchain Platform deployed to IBM, AWS and MS AZURE clouds - as a reference implementation architecture"
**SUBJECT/TITLE**

OpenShift powered blockchain reference use case application running on IBM Blockchain Platform deployed to IBM, AWS and MS AZURE clouds - as a reference implementation architecture

**PURPOSE**

Highlight the power and value proposition of OpenShift CaaS versus vanilla IKS
Highlight the value of openness and non-vendor lock-in benefits - with OpenShift hosting
Highlight the valu

[2020-12-04 17:11] pvrbharg commented on #212
@jaredburck @etsauer  @sabre1041 @redhat-cop/cant-contain-this - Dear team - hope you are doing OK, keeping safe and socially distanced! I am and I am hoping you could give me a bit of your wisdom and guidance. Cheers!

[2020-12-04 17:57] etsauer commented on #212
Hey @pvrbharg this sounds like an interesting and very ambitious article. We'd be happy to host that content in uncontained. Is this something that you yourself are interested in working on, or are you just requesting content for this need?

[2020-12-04 19:04] pvrbharg commented on #212
Dear @etsauer Thank you and you inspire me even more! You already inspired me with your content that I benefited from!  Regarding your question:

         My apologies - I am not being clear here!
          I have the work done and just write-up pending. This would be my thank you to you and community from which I
          benefited and this is my giveback to uncontained.io and its committers/com

[2020-12-07 19:49] jonathancalloway opened #213 "Can we get this content into RSS feeds?"
I would like to suggest that a feature be added that allows this conent to be consumed via RSS feeds, particularly on platforms such as feedly.

[2020-12-07 22:21] pabrahamsson commented on #213
Hi @jonathancalloway, have you tried [http://uncontained.io/index.xml](http://uncontained.io/index.xml)?

[2020-12-22 20:43] etsauer commented on #208
This is still relevant. #209 and follow-on work by @oybed will address this concern.

[2020-12-25 19:52] worsco commented on #210
https://uncontained.io/ TLS cert's SAN has *.b9ad.pro-us-east-1.openshiftapps.com

[2021-01-06 09:08] faysou commented on #211
I don't know what to do to fix the problem, but as a user the site doesn't display well.

[2021-01-15 10:10] gautamkrishnar opened #215 "Add https support"
Add HTTPS support to domain https://uncontained.io/

[2021-01-19 19:04] ariescheurwater commented on #215
Duplicate of #210

[2021-01-19 19:14] #215 closed, assigned to nobody

[2021-01-19 19:14] gautamkrishnar commented on #215
Closing this one

[2021-02-12 05:02] #212 closed

[2021-02-13 19:40] #213 closed

[2021-02-28 16:58] #208 closed

[2021-03-03 03:15] #210 closed

[2021-03-16 07:04] faysou commented on #211
Yes it's still an issue. Browse a page in a browser on a phone and you'll see. I don't know how to fix this.

[2021-03-18 20:51] JaredBurck opened #217 "Upgrade your tag to experience the future of Google Analytics"
A new tag for a more intelligent Analytics

The new, more intelligent Google Analytics experience is [here](https://blog.google/products/marketingplatform/analytics/new_google_analytics/?utm_campaign=2021-q1-gbl-all-gafree&utm_source=google-growth&utm_medium=email&utm_content=ogt-upgrade-tag-refresh). This next generation of Google Analytics will take your digital analytics to a whole new level by

[2021-05-16 19:48] faysou commented on #211
Yes it's still relevant. I don't know about web design. The page doesn't display well in chrome on android.

[2021-05-31 05:18] #211 closed

[2021-06-07 12:20] #217 closed, assigned to nobody

[2021-06-21 19:57] mm7259 opened #218 "Repository Review and Feedback"
In order to make it easier for new contributors to get started, there should be example article ASCII Docs with boilerplate structure

[2021-06-21 19:59] JaredBurck opened #219 "Uncontained.io Pipeline Review and Updates"
Uncontained.io Pipeline Review and Updates

[2021-06-21 20:02] JaredBurck commented on #219
closing as wont fix for this issue and will create new issue

[2021-06-21 20:02] #219 closed, assigned to nobody

[2021-06-21 20:03] mm7259 opened #220 "Uncontained.io Pipeline Review and Updates"

[2021-07-23 15:33] chadmf commented on #218
Let me take this one.

[2021-07-23 21:00] chadmf commented on #218
Initial thoughts for improvement in the github code side:

1. Move roadmap to a project like github does here: https://github.com/github/roadmap/projects/1
2. Move how to contribute closer to the top, it's a bit buried in the README
3. Update local development. We should try and make this more consumable for people to just contribute via ADOC.
4. Move https://github.com/redhat-cop/uncontained.io/b

[2021-08-29 18:02] #220 closed, assigned to mm7259

[2021-10-01 23:00] #218 closed, assigned to mm7259